.todo {
  margin-left: 130px;
  margin-right: 130px;
  background-image: url(../IMG/fund\ inicio.png);
  background-size: cover;

}
.header{
  color:white;
  background-color: aqua;
}

.header img {
  float: left;
  margin-right: 10px;
  height: 70px;


}

.header a {
  text-decoration: none;
  float: right;
  color:white;
  font-family: Courier, monospace;

 
  padding: 20px;
}
a:hover {
  color: #f65600;
  text-decoration: line-through;
}

a:active {
  color: #f65600;
  text-decoration: line-through;
}

  
  
  
.corpo{
  
    height: 800px;
    text-align: center;
}
  
  .corpo img {
    float: left;
 height: 700px;
    padding: 20px;
    margin-left:50PX ;
  }
  
  .corpo h1 {
    color:#f65600;
    font-family: monospace;
    font-size: 40px;
  margin-top: 150px;
  margin-left: 170px;

  }
  .corpo p {
    font-size: 25px;
    color:white;
    margin-left: 500px;
    margin-right: 200px;
  
  
  }
  #a2{
    height: 100px;
   }

  #a1{

   margin-left: 200px;
   height: 100px;
   
  }
  
  
  
  
 
  



.captura img{
 margin-left: 60px;
}
.captura{
   
   color: white;
    font-size: 30px;
    text-align: center;
    padding: 2px;
   
}













.footer{
 
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  
  }
  
  #face{
    color: blue;
    font-size: 30px;
    margin: 10px;
  }
  #what{
    color: green;
    font-size: 30px;
    margin: 10px;
  }
  
  #inst{
    color:#d6249f ;
    font-size: 30px;
    margin: 10px;
  }
  
  #phone{
    color:#08d345 ;
    font-size: 30px;
    margin: 10px;
  }
  #envol{
    color:#9ea09f ;
    font-size: 30px;
    margin: 10px;
  }
  #map{
    color:#9ea09f ;
    font-size: 30px;
    margin: 10px;
  }
  #you{
    color:red ;
    font-size: 30px;
    margin: 10px;
  }
  #visa{
    color:yellow ;
    font-size: 40px;
    margin: 10px;
  }
  #pay{
    color:blue ;
    font-size: 40px;
    margin: 10px;
  }
  #master{
    color:red ;
    font-size: 40px;
    margin: 10px;
  }
  
  
  
  
  #imgfooter{
   height: 70px;
    margin-right: 300px;
   float: left;
  }
  
  .container2{
    font-size: 20px;
    width: 500px;
    
  }
  .container4{
    font-size: 20px;
    width: 600px;
    
  }
  .container3{
    font-size: 20px;
    width: 400px;  margin-right: 20px;
    margin-left: 20px;
  
  }
  .container4{
    font-size: 20px;
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    
  
  }
  .footer{
    background-color: transparent;;
    color:white;
    width: 100%;
    border: solid 1px;
    border-color: #f65600;
  }
  .rodape{
    color: white;
    background-color: black;
    padding: 10px;
  font-size: 15px;
  text-align: center;
  }
  #til{
   font-weight: bold;
  }
  